<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1092113616604-grfk9ec7cjokntp9j4vjlhcp9vlqghkg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092113616604-grfk9ec7cjokntp9j4vjlhcp9vlqghkg</string>
	<key>API_KEY</key>
	<string>AIzaSyD_pi1YKszI1yhpeH-glKUK8bCB-4kw2MU</string>
	<key>GCM_SENDER_ID</key>
	<string>1092113616604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Mark.TopGiv</string>
	<key>PROJECT_ID</key>
	<string>topgive-74cb0</string>
	<key>STORAGE_BUCKET</key>
	<string>topgive-74cb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092113616604:ios:424b12e79d8ea013</string>
	<key>DATABASE_URL</key>
	<string>https://topgive-74cb0.firebaseio.com</string>
</dict>
</plist>